@import "tailwindcss";


:root {
    --main-bg: #A89C91;
    --main-text: #444434;
    --section-bg: #F5F5F5;
    --section-text: #666666;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


.section-br {
  background-color: var(--main-bg);
  color: var(--main-text);
}

.text-primary{
  color: var(--main-text);
}

html {
  scroll-behavior: smooth;
}